name: Build Windows EXE

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pyinstaller
        pip install requests
        pip install PyQt6
        # اگر فایل requirements.txt وجود دارد، خط زیر را فعال کنید (علامت # اولش را بردارید)
        # pip install -r requirements.txt

    - name: Build EXE
      # دستور ساخت فایل اجرایی به همراه جمع‌آوری تمام وابستگی‌ها
      run: pyinstaller --onefile --windowed --clean IPCleanScanner.py

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: IPCleanScanner-Windows
        path: dist/IPCleanScanner.exe
